@import '../utilities/variable';

.category-container {
  background: $color-light-purple;
  grid-template-columns: 3fr 8fr;

  .menu-category {
    background: $color-dark-purple;
    color: $color-light-purple;
    padding: 0 5%;

    h1 {
      font-size: 2.5rem;
      // text-decoration: $color-purple wavy underline;
      // text-underline-offset: -1rem;
      letter-spacing: 5px;
      text-transform: uppercase;
      text-shadow: 
        0 0 8px rgba(0, 255, 229, 0.3), 
        -2px -2px 6px rgba(93, 0, 255, 0.2),
        0px 0px rgb(0 255 255 / .3);
      -webkit-box-reflect: below -10px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.02), rgba(0,0,0,0.08));
    }

    .nationalities{
      cursor: pointer;
      height: 30px;
      border-radius: 5px;
      // background-color: var(--bs-secondary);
      background: rgba(62, 255, 220, 0.65);
      box-shadow: 0 8px 32px 0 rgba( 13, 232, 192, 0.15 );
      backdrop-filter: blur( 1px );
      -webkit-backdrop-filter: blur( 1px );
      padding: 2% 8%;
      margin-top: -10px;
      align-items: center;
      font-weight: 700;

      &:hover, &:focus, &:active {
        color: $color-dark-purple;
      }

      &:hover {
        background: rgba(0, 255, 208, 0.85);
      }

      &:focus, &:active {
        background: rgba(0, 255, 208, 0.95);
      }
    }

    ul {
      // border: 1px solid;
      margin-top: 0;
      box-shadow: inset 0 0px 32px 0 rgba( 13, 232, 192, 0.09 );
      // padding: 4%;

      li {
        list-style: none;
        padding: 5px 0;
        padding-left: 10px;
        margin: 10px 0;
        position: relative;
        z-index: 111;
        width: 80%;
        cursor: pointer;
      
        &::before, &::after {
          content: "";
          position: absolute;
          background: var(--bs-secondary);
          opacity: 0.3;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }

        &:before {
          height: 0;
          width: 100%;
          filter: blur(6px);
          transition: all .3s ease-in-out;
        }
        &::after {
          height: 0;
          width: 0;
          border-radius: 50%;
          filter: blur(0px);
          box-shadow: 0 0 10px -1px $color-light-purple;
          transition: all .5s ease-in-out;
        }

        &:hover {
          text-shadow: 0 0 10px $color-light-purple;
          &::after {
            width: 10px;
            height: 10px;
            opacity: 1;
            left: -20px;
            // filter: blur(0);
          }
          &::before {
            height: 110%;
            opacity: .2;
            transform: translateY(-42%);
          }
        }

        &:active, &:focus{
          text-shadow: 0 0 10px $color-light-purple;
          &::after {
            width: 10px;
            height: 10px;
            opacity: 1;
            left: -20px;
          }
          &::before {
            height: 110%;
            opacity: .4;
            transform: translateY(-42%);
          }
        }
      }
    }

  }

  .wine-container {
    box-shadow: 0 0 12px -8px $color-dark-purple inset;

    .card-bg {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-attachment: local;
      background-size: cover;
    }
  }
}
