$color-Jade-green: rgba(8, 0, 12, 0.87);
$color-pink: rgba(47, 2, 21, 0.78);
$color-gray: #9CA3AF;
$color-black: #1F2937;

.unSelected-paragraph {
  -moz-user-select: none !important;
  -webkit-touch-callout: none!important;
  -webkit-user-select: none!important;
  -khtml-user-select: none!important;
  -moz-user-select: none!important;
  -ms-user-select: none!important;
  user-select: none!important;
}

