.nav__container {
  position: fixed;
  z-index: 100;
  height: 60px;
  width: 100vw;
  padding: 10px 20px;
  grid-template-columns: 1fr 1fr 1fr;
  background: rgb(255, 255, 255);
  align-content: center;
  align-items: center;
  color: #140131FF;


  .skinny {
    display: inline-block;
    width: 215px;
    height: 15px;
    padding: 10px 0 10px 15px;
    font-family: "Open Sans", sans;
    font-weight: 400;
    color: #000;
    background: #efefef;
    border: none;
    border-radius: 3px;
    outline: 0;
    text-indent: 0px; // Arbitrary.
    transition: all 0.2s ease-in-out;

    &::-webkit-input-placeholder {
      color: #efefef;
      text-indent: 0;
      font-weight: 300;
    }

    + label {
      position: absolute;
      transform: translateX(0);
      top: 0;
      left: 20px;
      height: 35px;
      width: 6%;
      color: #fff;
      text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
      transition: all 0.2s ease-in-out;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      overflow: hidden;

      &:before,
      &:after {
        content: "";
        position: absolute;
        right: 0;
        left: 0;
        z-index: -1;
        transition: all 0.1s ease-in-out;
      }

      &:before {
        top: 0px;
        bottom: 0px;
        right: -3px;
        width: 10%;
        background: #140131FF; // change this to #134A46
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }

      &:after {
        top: 0;
        bottom: 0;
        background: #140131FF;
      }
    }
  }
  .skinny:focus,
  .skinny:active {
    color: #140131FF;
    box-shadow: var(--box-shadow-nav);
    text-indent: 0;

    &::-webkit-input-placeholder {
      color: #aaa;
    }

    + label {
      transform: translateX(-100%);
      color: #140131FF;
      text-shadow: 1px 1px 5px rgba(134, 0, 0, 0.5);

      &:after {
        transform: translateX(100%);
        right: 0;
      }
    }
  }

}

.nav-left {
  padding-left: 20px;
}

.nav-center {
  font-family: Lambency, sans-serif;
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: 15px;
  word-spacing: 1.5rem;
  text-align: center;
}

.nav-right {
  text-align: center;
  gap: 0.5rem;
  text-transform: uppercase;
  grid-template-columns: 2fr 1fr 1fr 1fr;

  button{
    top:-50%
  }
  &:hover{
    cursor: pointer;
  }
}

@media (max-width: 768px) {
  .nav__container {
    width: 100%;
    grid-template-columns: 2fr 1fr 2fr;

    .skinny {

      + label {
        width: 10%;
        //padding-left: 1px;
      }
    }
  }

  .nav-center {
    font-size: 1.5rem;
    letter-spacing: 5px;
    word-spacing: .7rem;
  }

  .nav-right{
    grid-template-columns: 3fr 3fr 3fr 5fr;
    font-size: .8rem;
  }

}