.slider {
  width: 100vw;
  //height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  //background-image: linear-gradient(0deg, $color-Jade-green 0%, $color-pink 80%);
  background: rgba(4, 0, 4, 1);
  font-family: 'Montserrat', sans-serif;
}

.carousel {
  position: relative;
  //width: 50rem;
  width: 100%;
  height: 600px;
  perspective: 500px;
  transform-style: preserve-3d;
}

.card__container {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotateY(calc(var(--offset) * 50deg)) scaleY(calc(1 + var(--abs-offset) * -0.3)) translateZ(calc(var(--abs-offset) * -30rem)) translateX(calc(var(--direction) * -5rem));
  filter: blur(calc(var(--abs-offset) * 1rem));
  transition: ease-in-out 0s;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  background: rgba(4, 0, 4, 1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  text-align: center;
  transition: all 0.3s ease-out;
  color: #fff;

  &:hover {
    .slide-fade{
      opacity: 1;
    }
  }

  span:nth-child(2) {
    margin: 10px 0;
    max-width: 65%;
    font-family: "Oaxaqueña Tall", sans-serif;
    font-size: 6rem;
    font-weight: 800;
    background: #fff;
    background: linear-gradient(50deg, #9678fd 0%, #ffde75 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  p {
    width: 70%;
    font-family: "Golden Ratio Demo", sans-serif;
    font-size: .8rem;
    line-height: 1.3rem;
  }

  p, span {
    transition: all 0.5s ease-in-out;
    opacity: var(--active);
  }

  .img__container-slide {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    overflow: hidden;
    opacity: .7;
    //background-clip: text;
    //-webkit-background-clip: text;
    //color: transparent;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 0 60%;
    }
  }

  .slide-fade {
    width: 100%;
    height: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: ease-in 0.3s ;

    span {
      display: flex;
      width: 240px;
      height: 60px;
      justify-content: center;
      align-items: center;
      font-size: 1.4rem;
      font-weight: 500;
      &:hover {
        border: 2px solid #fff;
      }
    }
    a {
      font-size: 1.5rem;
      font-weight: 800;
      color: #fff;
      text-decoration-color: #4C3575;
      text-underline-offset: 4px;
      //text-decoration-line: overline;
      text-decoration-style: double;
    }

  }

}

.nav {
  color: white;
  position: absolute;
  display: flex;
  z-index: 10000;
  cursor: pointer;
  user-select: none;
  background: unset;
  border: unset;

  &.left {
    transform: translateX(-100%);
    left: 10%;
  }

  &.right {
    right: 10%;
    transform: translateX(100%);
  }
}


