
.bg-primary{
  background: #140D36;
}
.bg-secondary{
  background: #4C3575;
}
.bg-light-primary{
  background: #5B4B8A;
}
.bg-light-secondary{
  background: rgba(215, 187, 255, 0.89);
}

.text-white{
  color: #fff;
}
.text-main{
  color: #140131FF;
}