$spaces: (
        10: 10px,
        12: 12px,
        13: 13px,
        14: 14px,
        15: 15px,
        16: 16px,
        17: 17px,
        n16: -16px,
        20: 20px,
        24: 24px,
        28: 28px,
        30: 30px,
        32: 32px,
        36: 36px,
        40: 40px,
        44: 44px,
        48: 48px,
        1r: 1rem,
        2r: 2rem,
        3r: 3rem
);

@each $name, $value in $spaces {
  .fz-#{$name} {
    font-size: $value !important;
  }
}

.ff-asher{
  font-family: "Asher Punk Demo Version", sans-serif;
}
.ff-Calligrapher{
  font-family: Calligrapher, sans-serif;
}
.ff-Pearl{
  //font-family: , sans-serif;
}