$spaces: (
  0: 0px,
  3: 3px,
  4: 4px,
  6: 6px,
  8: 8px,
  10: 10px,
  12: 12px,
  16: 16px,
  n16: -16px,
  20: 20px,
  24: 24px,
  28: 28px,
  30: 30px,
  32: 32px,
  36: 36px,
  40: 40px,
  44: 44px,
  48: 48px,
  50: 50px,
  80: 80px,
);

@each $name, $value in $spaces {
  .m-#{$name} {
    margin: $value !important;
  }
  .mt-#{$name} {
    margin-top: $value !important;
  }
  .mr-#{$name} {
    margin-right: $value !important;
  }
  .mb-#{$name} {
    margin-bottom: $value !important;
  }
  .ml-#{$name} {
    margin-left: $value !important;
  }
  .mx-#{$name} {
    margin-left: $value !important;
    margin-right: $value !important;
  }
  .my-#{$name} {
    margin-top: $value !important;
    margin-bottom: $value !important;
  }

  .p-#{$name} {
    padding: $value !important;
  }
  .pt-#{$name} {
    padding-top: $value !important;
  }
  .pr-#{$name} {
    padding-right: $value !important;
  }
  .pb-#{$name} {
    padding-bottom: $value !important;
  }
  .pl-#{$name} {
    padding-left: $value !important;
  }
  .px-#{$name} {
    padding-left: $value !important;
    padding-right: $value !important;
  }
  .py-#{$name} {
    padding-top: $value !important;
    padding-bottom: $value !important;
  }
  .top-#{$name} {
    top: $value !important;
  }
  .bottom-#{$name} {
    bottom: $value !important;
  }
  .right-#{$name} {
    right: $value !important;
  }
  .left-#{$name} {
    left: $value !important;
  }
}

.pb-30 {
}
.pb-2 {
  padding-bottom: 2px;
}
.pb-3 {
  padding-bottom: 3px;
}
.px-80 {
  padding-right: 80px;
  padding-left: 80px;
  @media screen and (max-width: 460px) {
    padding-right: 16px;
    padding-left: 16px;
  }
}
.py-80 {
  padding-top: 80px;
  padding-bottom: 80px;
  // @media screen and (max-width: 460px) {
  //   padding-top: 16px;
  //   padding-bottom: 16px;
  // }
}
.py-2 {
  padding-top: 2px;
  padding-bottom: 2px;
}

.m-auto {
  margin: auto !important;
}
.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}
.my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}
.mb-38 {
  margin-bottom: 38px;
}
.mb-14 {
  margin-bottom: 14px !important;
}
.mb-1 {
  margin-bottom: 1px;
}
.mb-2 {
  margin-bottom: 2px;
}
.ml--12 {
  margin-left: -12px;
}
.top--50{
  top: -50%;
}
.left-25{
  left: 25%;
}
.w-50 {
  width: 50%;
}
.w-80 {
  width: 80%;
}
.w-100 {
  width: 100% !important;
}
.w-220 {
  width: 220px;
}
.h-100 {
  height: 100% !important;
}
.h-150 {
  height: 150px !important;
}
.h-400 {
  height: 400px;
}
.h-100vh {
  height: 100vh;
}
.h-100vh-80 {
  height: calc(100vh - 80px);
}
.h-500 {
  height: 500px !important;
}
.h-700 {
  height: 700px;
}
.h-800 {
  height: 800px;
}
.h-48 {
  height: 48px;
}
.h-70 {
  height: 70px;
}
.h-32 {
  height: 32px;
}
.h-56 {
  height: 56px;
}

.size-36 {
  height: 36px !important;
  width: 36px !important;
}

.size-24 {
  height: 24px !important;
  width: 24px !important;
}

.align-bottom {
 vertical-align: bottom !important;
}
