body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*::-webkit-scrollbar{
  width:10px;
  background: rgba(234, 234, 234, 0.16);
}
*::-webkit-scrollbar:hover{
  width:10px;
  background: rgba(118, 118, 118, 0.54);
}
*::-webkit-scrollbar-thumb{
  background: rgba(0, 0, 0, 0.14);
  border-radius:3px;
}
*::-webkit-scrollbar-thumb:hover{
  background: rgba(0, 0, 0, 0.82);
  border-radius:3px;
}
